{% extends 'base.html' %}

{% block main %}
<div style="overflow-x:auto;">
   <br>
      <table border = 1>
         <thead>
            <td>Teamnaam</td>
            <td>Kilo gevonden</td>
            <td>Straatwaarde</td>
            <td>Opmerking</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{ row["team_naam"] }}</td>
               <td>{{ row["kilos"] }}</td>
               <td> {{ row["straatwaarde"] }}</td>
               <td>{{ row['opmerking'] }}</td>
            </tr>
         {% endfor %}
      </table>
   </div>
<br>
      <a href = {{url_for("submit_new_file")}}>Voer nieuwe score in</a>
{% endblock %}